<div
    th:replace="~{layout/header ::header(|/solve-questions/index/${session.gradeResult.users.nickname}|)}"></div>

<body class="text-center">
<main class="inner cover" role="main">
  <h1 class="cover-heading" th:text="#{index.title}"></h1>
  <div class="lead"
       th:text="#{index.solve-test.description(${session.gradeResult.users.nickname})}"></div>
  <br>
  <div class="lead">
    <a class="btn btn-lg btn-primary" href="/solve-questions/init" role="button"
       th:text="#{index.solve-test}"></a>
    <a class="btn btn-lg btn-secondary" href="/" role="button" th:text="#{index.make-test}"></a>

  </div>
</main>
</body>

<div th:replace="~{layout/footer :: footer}"></div>