<div
    th:replace="~{layout/header ::header(|/solve-questions/index/${session.gradeResult.users.nickname}|)}"></div>

<div class="mx-auto" style="width: 500px;">
  <form action="/solve-questions/submit-answer" method="post">

    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title"
              th:text="|${questionSolveDto.currentPage}/${questionSolveDto.totalPage}|" }></h5>
        </div>

        <div class="modal-body">
          <p th:text="${questionSolveDto.question.question}"></p>

          <div class="form-check">
            <input checked class="form-check-input" id="O" name="answer" type="radio" value="O">
            <label class="form-check-label" for="O">O</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="X" name="answer" type="radio" value="X">
            <label class="form-check-label" for="X">X</label>
          </div>

          <div th:replace="~{layout/solveQuestionButton :: solveQuestionButton}"></div>

          <input name="page" th:value="${questionSolveDto.currentPage}" type="hidden">

        </div>
      </div>
    </div>
  </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>