<div
    th:replace="~{layout/header ::header(|/solve-questions/index/${session.gradeResult.users.nickname}|)}"></div>

<div class="mx-auto" style="width: 500px;" th:object="${nickname}">
  <form action="/solve-questions/set-nickname" method="post">
    <div class="form-group">
      <label for="nickname" th:text="#{sign-up.nickname}"></label>
      <input class="form-control" id="nickname" th:errorclass="field-error" th:field="*{nickname}"
             type="text">
    </div>
    <div class="field-error" th:errors="*{nickname}"></div>

    <button class="btn btn-primary" th:text="#{sign-up.start}" type="submit"></button>
  </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>