<div
    th:replace="~{layout/header ::header(|/solve-questions/index/${session.gradeResult.users.nickname}|)}"></div>

<div class="mx-auto" style="width: 500px;">
  <form action="/solve-questions/submit-answer" method="post" th:object="${answerSubmit}">

    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title"
              th:text="|${questionSolveDto.currentPage}/${questionSolveDto.totalPage}|" }></h5>
        </div>

        <div class="modal-body">
          <p th:text="${questionSolveDto.question.question}"></p>

          <div class="form-group">
            <label for="answer" th:text="#{question.answer}"></label>
            <input class="form-control" id="answer" th:field="*{answer}" type="text">
          </div>

          <th:block th:if="${answerSubmitError}">
            <div class="field-error" th:text="#{notblank}"></div>
          </th:block>

          <div th:replace="~{layout/solveQuestionButton :: solveQuestionButton}"></div>

          <input name="page" th:value="${questionSolveDto.currentPage}" type="hidden">

        </div>
      </div>
    </div>
  </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>