{{>layout/header}}

<body class="text-center">
<main role="main" class="inner cover">
  <h1 class="cover-heading">WhoRU: 내가 누구게?</h1>
  <div class="lead">나만의 퀴즈를 만들고 친구들에게 공유해 보세요</div>
  <br>
  <div class="lead">
    <a href="/nickname" role="button" class="btn btn-lg btn-secondary">질문지 생성</a>
  </div>
</main>
</body>

{{>layout/footer}}