{{>layout/header}}

<div class="mx-auto" style="width: 500px;">
  <a href="/question-type/multiple-choice" role="button" class="btn btn-outline-success btn-lg btn-block">객관식 문제</a>
  <a href="/question-type/short-answer" role="button" class="btn btn-outline-warning btn-lg btn-block">주관식 문제</a>
  <a href="/question-type/ox" role="button" class="btn btn-outline-info btn-lg btn-block">ox 문제</a>
</div>

{{>layout/footer}}