{{>layout/header}}

<div class="mx-auto" style="width: 500px;">
  <form method="post" action="/create/nickname" onsubmit="return checkNickname()" name="create_nickname">
    <div class="form-group">
      <label for="nickname">닉네임</label>
      <input class="form-control" id="nickname" name="nickname"
             aria-describedby="nickname-condition" required oninput="checkNicknameDuplicate()">
      <span class="nickname_duplicate">중복된 닉네임 입니다.</span>
      <small id="nickname-condition" class="form-text text-muted">글자수는 공백이 아닌 자 이하로 적어주세요.</small>
    </div>

    <input type="hidden" id="is_duplicate" name="is_duplicate">

    <button type="submit" class="btn btn-primary">시작하기</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
  function checkNickname() {
    let nickname = document.getElementById("nickname").value;
    let blankPattern = /[\s]/g;
    if (blankPattern.test(nickname) === true) {
      alert("공백이 입력되었습니다.");
      return false;
    }
    if (document.forms['create_nickname']['is_duplicate'].value == 'o') {
      alert("중복된 닉네임 입니다.");
      return false;
    }
  }

  function checkNicknameDuplicate() {
    let nickname = $('#nickname').val();
    $.ajax({
      url: '/create/validate/nickname',
      type: 'post',
      data: {nickname: nickname},
      success: function (isDuplicate) {
        if (isDuplicate) {
          $('.nickname_duplicate').css("display", "inline-block");
          document.forms['create_nickname']['is_duplicate'].setAttribute('value', 'o');
        } else {
          $('.nickname_duplicate').css("display", "none");
          document.forms['create_nickname']['is_duplicate'].setAttribute('value', 'x');
        }
      }
    });
  };
</script>

{{>layout/footer}}