<div th:replace="~{layout/header ::header('/')}"></div>

<html xmlns:th="http://www.thymeleaf.org">

<div class="mx-auto" style="width: 500px;">
  <h1 th:text="#{set-user.login}"></h1> <br>
  <form method="post" action="/users" name="create_nickname" th:object="${user}">
    <div class="form-group">
      <label for="nickname" th:text="#{set-user.nickname}"></label>
      <input type="text" th:errorclass="field-error" class="form-control" id="nickname"
             th:field="*{nickname}">
      <div class="field-error" th:errors="*{nickname}"></div>
    </div>
    <div class="form-group">
      <label for="password" th:text="#{set-user.password}"></label>
      <input class="form-control" type="password" id="password" name="password" th:field="*{password}"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{password}"></div>

    </div>
    <button type="submit" class="btn btn-primary" th:text="#{set-user.start}"></button>
  </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>