<div th:replace="~{layout/header ::header('/')}"></div>

<div class="mx-auto" style="width: 500px;">
  <main role="main" class="inner cover">
    <h1 class="cover-heading" th:text="#{create-complete.title}"></h1>
    <div class="lead" th:text="#{create-complete.description}"></div> <br>
    <div class="lead">
      <a href="#" role="button" onclick="copyLink()" class="btn btn-lg btn-secondary" th:text="#{create-complete.link-copy}"></a>
      <a href="/" role="button" class="btn btn-lg btn-primary" th:text="#{create-complete.back}"></a>
    </div>
  </main>
  <input type="hidden" id="linkCopyComplete" th:value="#{create-complete.link-copy-complete}">
</div>

<script th:inline="javascript">
  function copyLink() {
    let textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    textarea.value = "http://" + [[${domain}]] + ":8080/solve-questions/index/" + [[${nickname}]];
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);
    let linkCopyComplete = document.getElementById('linkCopyComplete').value;
    alert(linkCopyComplete);
  }
</script>

<div th:replace="~{layout/footer :: footer}"></div>