<header th:fragment="header(home)">
  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <html lang="kr">
  <head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <title>WhoRU?</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 120px">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="${home}" th:text="#{header.title}"></a>
      <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
        <form action="/solve-questions/search" class="d-flex" method="POST">
          <input class="form-control" id="nickname" name="nickname"
                 th:placeholder="#{header.nickname-search}" type="search">
          <button class="btn btn-outline-success" th:text="#{header.nickname-search-button}"
                  type="submit"></button>
        </form>
      </div>


      <th:block th:if="${session.loginUser}">
        <div class="navbar-brand" th:text="|${session.loginUser.getNickname()}님|"></div>
        <a class="navbar-brand" href="/users/logout" style="color:red"
           th:text="|#{header.logout}     |"></a>
      </th:block>

      <div class="dropdown">
        <button aria-expanded="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                id="dropdownMenu1" th:text="#{header.language}" type="button">
          <span class="caret"></span>
        </button>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu" role="menu">

          <form action="/set/language" method="POST">
            <a href="/language?language=en" role="menuitem" tabindex="-1">English</a></li>
            <a href="/language?language=ko" role="menuitem" tabindex="-1">한국어</a></li>
          </form>

        </ul>
      </div>

    </div>
  </nav>

</header>
