<div th:fragment="solveQuestionButton">
  <div class="modal-footer">
    <th:block th:if="${questionSolveDto.prevPage}">
      <button class="btn btn-secondary"
              name="button"
              th:text="#{question.before-question}"
              type="submit" value="before">
      </button>
    </th:block>
    <th:block th:if="${questionSolveDto.nextPage}">
      <button class="btn btn-primary"
              name="button"
              th:text="#{question.next-question}"
              type="submit" value="next">
      </button>
    </th:block>
    <th:block th:if="${questionSolveDto.isLastPage}">
      <button class="btn btn-primary"
              name="button"
              th:text="#{question.submit}"
              type="submit" value="submit">
      </button>
    </th:block>
  </div>
</div>