{{>layout/header}}

<body class="text-center">
<main>
  <h1 class="cover-heading">WhoRU: 내가 누구게?</h1>
  <div class="lead">{{nickname}}에 대해 맞춰봐~</div>
  <br>
  <div class="lead">
    <a href="/solve/{id}" role="button" class="btn btn-lg btn-secondary">시작하기</a>
  </div>
</main>
</body>

{{>layout/footer}}