{{>layout/header}}

<body class="text-center">
<main role="main" class="inner cover">
  <h1 class="cover-heading">WhoRU: 내가 누구게?</h1>
  <div class="lead">{{nickname}}에 대해 맞춰봐~</div>
  <br>
  <div class="lead">
    <a href="/solve/nickname" role="button" class="btn btn-lg btn-secondary">문제 풀기</a>
  </div>
</main>
</body>

{{>layout/footer}}