{{>layout/header}}

<div class="mx-auto" style="width: 500px;">
  <form method="post" action="/api/grade-result/add-answer">
    <input type="hidden" name="domain-address" value={{domain-address}}>

    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">{{page}}/{{lastPage}}</h5>
        </div>

        <div class="modal-body">
          <p>{{question.question}}</p>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="O" value="O" checked>
            <label class="form-check-label" for="O">O</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="X" value="X">
            <label class="form-check-label" for="X">X</label>
          </div>

          <div class="modal-footer">
            {{#prevPage}}
              <button type="submit"
                      name="button"
                      value="before"
                      class="btn btn-secondary">이전 문제
              </button>
            {{/prevPage}}
            {{#nextPage}}
              <button type="submit"
                      name="button"
                      value="next"
                      class="btn btn-primary">다음 문제
              </button>
            {{/nextPage}}
            {{#isLastPage}}
              <button type="submit"
                      name="button"
                      value="submit"
                      class="btn btn-primary">제출
              </button>
            {{/isLastPage}}
          </div>

          <input type="hidden" name="page" value="{{page}}">

        </div>
      </div>
    </div>
  </form>
</div>

{{>layout/footer}}