<div th:replace="~{layout/header ::header('/')}"></div>

<div class="mx-auto" style="width: 500px;">
  <h1 th:text="#{sign-up.sign-up}"></h1> <br>
  <form action="/users/sign-up" method="post" th:object="${signUp}">

    <div class="form-group">
      <label for="nickname" th:text="#{sign-up.nickname}"></label>
      <input class="form-control" id="nickname" th:errorclass="field-error" th:field="*{nickname}"
             type="text">
      <div class="field-error" th:errors="*{nickname}"></div>
    </div>

    <div class="form-group">
      <label for="password1" th:text="#{sign-up.password1}"></label>
      <input class="form-control" id="password1" th:errorclass="field-error" th:field="*{password1}"
             type="password">
      <div class="field-error" th:errors="*{password1}"></div>
    </div>

    <div class="form-group">
      <label for="password2" th:text="#{sign-up.password2}"></label>
      <input class="form-control" id="password2" th:errorclass="field-error" th:field="*{password2}"
             type="password">
      <div class="field-error" th:errors="*{password2}"></div>
    </div>

    <button class="btn btn-primary" th:text="#{sign-up.start}" type="submit"></button>
  </form>
</div>

<div th:replace="~{layout/footer :: footer}"></div>