<div th:replace="~{layout/header ::header('/')}"></div>

<div class="mx-auto" style="width: 500px;">
  <th:block th:if="${testEmpty}">
    <a class="btn btn-outline-primary btn-lg btn-block" href="/create-questions/question-type"
       role="button"
       th:text="#{user-detail.make-test}"></a>
  </th:block>

  <th:block th:unless="${testEmpty}">
    <a class="btn btn-outline-primary btn-lg btn-block" href="#"
       onclick="copyLink()"
       role="button"
       th:text="#{user-detail.share-test}"></a>

    <a class="btn btn-outline-success btn-lg btn-block" href="/users/gradeResultList"
       role="button"
       th:text="#{user-detail.grade-result}"></a>

    <a class="btn btn-outline-warning btn-lg btn-block" href="/users/delete-questionList"
       role="button"
       th:text="#{user-detail.remove-test}"></a>

  </th:block>

  <a class="btn btn-outline-danger btn-lg btn-block" href="/users/logout"
     role="button"
     th:text="#{user-detail.logout}"></a>
</div>

<input id="linkCopyComplete" th:value="#{create-complete.link-copy-complete}" type="hidden">

<div
    th:replace="~{layout/copyLink :: copyLink(|http://${domain}:8080/solve-questions/index/${nickname}|)}"></div>

<div th:replace="~{layout/footer :: footer}"></div>